<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string> We need your location to fetch weather information.</string>
	<key>weatherBaseURL</key>
	<string>https://api.openweathermap.org/data/2.5/weather</string>
	<key>weatherAPIKey</key>
	<string>e30d61c3b95b9cd03001746a214ea7b7</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>newsApiKey</key>
	<string>7fcc5fd64d5f428aa1c7c7176527023b</string>
	<key>newsBaseURL</key>
	<string>https://newsapi.org/v2</string>
</dict>
</plist>
